{
  "swagger": "2.0",
  "info": {
    "description": "This is the API Documents Of Threebunny website",
    "version": "1.0.0",
    "title": "Three Bunny API",
    "termsOfService": "https://threebunny.com/",
    "contact": {
      "email": "help@threebunny.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "threebunny.com",
  "basePath": "/api/v1.0",
  "tags": [
    {
      "name": "Customer",
      "description": "Operations about Customer"
    },
    {
      "name": "Customer Accounts",
      "description": "Operations about Customer Accounts"
    }
  ],
  "schemes": ["https", "http"],
  "paths": {
    "/login": {
      "post": {
        "tags": ["Customer"],
        "summary": "Login To The System",
        "description": "",
        "operationId": "userLogin",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "List of user object",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "format": "email"
                },
                "password": {
                  "type": "string",
                  "format": "hash"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/UserShow"
            }
          }
        }
      }
    },
    "/add/user": {
      "post": {
        "tags": ["Customer"],
        "summary": "Create New User",
        "description": "",
        "operationId": "createUser",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "User Information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/UserShow"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/show/user": {
      "get": {
        "tags": ["Customer"],
        "summary": "Get user by ID",
        "description": "",
        "operationId": "getUserByID",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the user",
            "required": true,
            "type": "int"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/UserShow"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/update/user": {
      "post": {
        "tags": ["Customer"],
        "summary": "Update User",
        "description": "",
        "operationId": "updateUser",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "User Information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/UserShow"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/search/user": {
      "get": {
        "tags": ["Customer"],
        "summary": "Get user by ID",
        "description": "",
        "operationId": "searchUserByString",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "search",
            "in": "path",
            "description": "The users by name or email",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/UsersShow"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/delete/user": {
      "post": {
        "tags": ["Customer"],
        "summary": "Delete User",
        "description": "",
        "operationId": "deleteUser",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "User Information",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "required": true
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/get/user/accounts": {
      "get": {
        "tags": ["Customer Accounts"],
        "summary": "Get Customer Accounts",
        "description": "",
        "operationId": "getCustomerAccounts",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Customer Accounts",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "required": true
                },
                "type": {
                  "type": "string",
                  "required": false
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/add/user/account": {
      "post": {
        "tags": ["Customer Accounts"],
        "summary": "Create New User Account",
        "description": "",
        "operationId": "createUserAccount",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Account Information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AccountShow"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/update/user/account": {
      "post": {
        "tags": ["Customer Accounts"],
        "summary": "Update User Account",
        "description": "",
        "operationId": "updateUserAccount",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Account Information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AccountShow"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/delete/user/account": {
      "post": {
        "tags": ["Customer Accounts"],
        "summary": "Delete User Account",
        "description": "",
        "operationId": "deleteUserAccount",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Account Information",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "required": true
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AccountShow"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "Authorization",
      "name": "Authorization",
      "in": "header"
    },
    "auth": {
      "type": "JWT",
      "authorizationUrl": "https://jwt.io/",
      "flow": "implicit"
    }
  },
  "definitions": {
    "User": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "fullname": {
          "type": "string"
        },
        "email": {
          "type": "string",
          "format": "email"
        },
        "password": {
          "type": "string"
        },
        "confirm_password": {
          "type": "string"
        },
        "role": {
          "type": "integer",
          "format": "int32"
        },
        "package": {
          "type": "integer",
          "format": "int32"
        },
        "expiration_date": {
          "type": "string",
          "format": "date-time"
        },
        "status": {
          "type": "integer",
          "format": "int32"
        },
        "timezone": {
          "type": "string",
          "format": "timezone"
        }
      },
      "xml": {
        "name": "Customer"
      }
    },
    "UserShow": {
      "typ": "object",
      "properties": {
        "status": { "type": "string" },
        "message": { "type": "string" },
        "user": { "type": "object" },
        "team": { "type": "object" },
        "token": { "type": "string" }
      },
      "xml": {
        "name": "Customer"
      }
    },
    "UsersShow": {
      "typ": "object",
      "properties": {
        "status": { "type": "string" },
        "message": { "type": "string" },
        "users": { "type": "array" }
      },
      "xml": {
        "name": "Customer"
      }
    },
    "Account": {
      "typ": "object",
      "properties": {
        "id": { "type": "integer" },
        "ids": { "type": "string" },
        "social_network": { "type": "string" },
        "category": { "type": "string" },
        "team_id": { "type": "integer" },
        "login_type": { "type": "integer" },
        "can_post": { "type": "integer" },
        "pid": { "type": "integer" },
        "name": { "type": "string" },
        "username": { "type": "string" },
        "token": { "type": "string" },
        "avatar": { "type": "string" },
        "url": { "type": "string" },
        "data": { "type": "string" },
        "proxy": { "type": "string" },
        "status": { "type": "integer" }
      },
      "xml": {
        "name": "Account"
      }
    },
    "AccountShow": {
      "typ": "object",
      "properties": {
        "status": { "type": "string" },
        "message": { "type": "string" },
        "account": { "type": "object" }
      },
      "xml": {
        "name": "Customer Account"
      }
    },
    "AccountsShow": {
      "typ": "object",
      "properties": {
        "status": { "type": "string" },
        "message": { "type": "string" },
        "accounts": { "type": "array" }
      },
      "xml": {
        "name": "Customer Accounts"
      }
    }
  }
}
